<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>7Leaves Card</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShareTea Card</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb277765585977327</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.774307085086-hcd627qg0emmh7bhbcn58e3a23bvl81a</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>FIRDeeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.JasonMcCoy.7LeavesCard</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>I4pH4vNNFfRcfiAhCH6xDa3p1</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>I4pH4vNNFfRcfiAhCH6xDa3p1</string>
					<key>consumerSecret</key>
					<string>H7KogpW7Gnalc7MtHxfCxjJ7fXXvZfUkT690Ns8oygbgETMwHD</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>277765585977327</string>
	<key>FacebookDisplayName</key>
	<string>7Leaves Card</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>The camera is needed to scan QR codes.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires contacts access to function properly</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location verification is needed to offer you the best rewards, promotions and the nearest store at your location.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To add your profile picture.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SignPainter-HouseScript</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Nearest Store</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Nearest Store</string>
			<key>UIApplicationShortcutItemType</key>
			<string>NearestStore</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Refer &amp; Earn</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Refer &amp; Earn</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ReferEarn</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Redeem Code</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Redeem Code</string>
			<key>UIApplicationShortcutItemType</key>
			<string>RedeemCode</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Your Team</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Your Team</string>
			<key>UIApplicationShortcutItemType</key>
			<string>YourTeam</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
